#bg{
    opacity:0.3;
    position:fixed;
}
#reg{
    width:480px;
    height:480px;
    background-color:#fff;
    border-radius:8px;
    position:absolute;
    left:50%;
    margin-left:-240px;
    top:40%;
    margin-top:-168px;
}
#reg p{
    text-align:center;
    font-size:28px;
    margin:30px 0;
}
#reg p a{
    font-size: 18px;
    color: #666666
}
#reg form{
    margin-left:30px;
}

#reg form div{
    margin:20px 0;
}
#reg form div:nth-child(1){
    margin-top:30px;
}
#reg form .txt{
    width:350px;
    padding:8px 10px;
    border:solid 1px #ccc;
}
#reg form .btn{
    padding:10px 20px;
    border-radius:8px;
    border:solid 1px #555;
    font-weight:700;
    font-size:18px;
    margin-left: 134px;
}
#reg form .btn:hover{
    color:#fff;
    background-color:#555;
}
