<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新用户激活</title>
    <script src="../static/js/init.js"></script>
    <link rel="stylesheet" href="../static/css/active.css">
</head>
<body>
    <img id="bg" width="100%" src="../static/images/login_bg.jpg" alt="">
    <div id="act">
        <p class="isActive">您确认激活吗？</p>
        <button id="active_true">是</button>
        <button id="active_flase">否</button>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script>
        $('#active_true').click(function(){
            var url_params = location.search
            $.ajax({
                url:baseurl+'/v1/user/activation'+url_params,
                type:'get',
                dataType:'json',
                success:function(res){
                    if (res.code == 200){
                        alert('激活成功！')
                        window.location.href="index.html"
                    }else{
                        alert(res.error)
                    }
                }
            })
        })
    </script>
</body>
</html>